@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100% !important; /* Kenglikni to'liq boshqarish uchun */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grids {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: space-between;
}
.swiper-pagination-bullet {
  @apply bg-1;
}
